/*Google Fonts*/
@import url(https://fonts.googleapis.com/css2)

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
	color: whitesmoke;
}

.active{
	text-decoration: underline;
	font-weight: bold;
}
body , html{
	overflow-x: hidden;
	text-align:center;
	justify-content:center;
	scroll-behavior: ;
	
}
.profile{
	max-width: 500px;
	max-height: 500px;
	border-radius: 50%;
	padding-top: 20px;
	align-self: center;
}

/*navbar*/
.navbar {
	position:absolute ;
	right: 0;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 10px;
   background-color: gray;
   text-decoration-color: skyblue;
}

.nav-links{
	display: flex;
	align-items: center;

}

.nav-links li{
	margin: 0 30px;
	color: whitesmoke;*/
}

.nav-links:hover{
	color: skyblue;
	cursor: pointer;
	
}
a {
	text-decoration: none;
}
.header-content {
	display: grid;
	place-items: center;
	align-items: flex-end;
	justify-content: center;
}
.header-content img{
	width: 500px;
	height: 500px;
	border-radius: 50%;
}
.header-content {
	margin-bottom: 150px;
	color: black;
	text-align: center;
}

.line{
	width: 150px;
	height: 4px;
	background: skyblue;
	margin: 10px auto;
	border-radius: 5px;
}
.header-content h1{
font-size: 7vmin;
margin-top: 50px;
margin-bottom: 30px;
color: black;
}

.ctn {
	padding: 8px 15px;
	background: skyblue;
	border-radius: 30px;
	color: whitesmoke;
}

.menu-btn{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	cursor: pointer;
	display: none;
}
/*About*/
.about{
	width: 80%;
	margin: 80px auto;
}
.about {
	text-align: center;
	font-size: 4vmin;
	color: black;
}
 
 p{
 	color: gray;
 	padding: 0px;

 }
 

/*services and projects*/
 .services, .projects{
 	width: 100%;
 	padding-bottom: 50px;
        color: black;
        background-color: gray;
	text align:center;
	justify-content: center;
	display: flex;
	align-items: center;
   flex-direction: column;
   justify-content: space-between;
 }
 .services h1, .projects h1{
 	font-size: 7vmin;
 	text-align: center;
 }

 .services p, .projects p{
 	color: black;
 }
 .services img{
 	width: 200px;
 	transform: translateY(10px);
 	transition: all is ease-out;

 }

 img: hover{
 	transform: scale(1.1);
 }

/* resume */
.resume{
	align-items:center;
	text-align:center;
	animation-on-scroll: fade-in;
}



/* contact */
 .contact{
 	display: flex;
 	justify-content: center;
 	margin: 0 auto;
 	width: 50%;
 	background-color: gray;
 	border-bottom-right-radius: 10%;
 	padding: 80px;
 }


/*Mobile device*/
@media only screen and (max-width:850px){
.navbar{
	padding: 0;

}
.menu-btn{
	display: block;
}

.profile{
	max-width: 500px;
	max-height: 500px;
	border-radius: 50%;
	padding-top: 20px;
	
}

.nav-links{
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: center;
	background: gray;
	margin-top: -900px;
	transition: all 0.5s ease;
}
.mobile-menu{
	margin-top: 0px;
	border-bottom-right-radius: 30%;
}
.nav-links li{
	margin: 30px auto;

}
body{
	justify-content: center;
	align-items: center;
	text-align:center;
   
}
/*About*/
.about{
	text-align: center;
}
/*services*/
.services{
	justify-content: center;
	display: flex;
	align-items: center;
   flex-direction: column;
}
.services img{
	width: 100px;
	border-radius: 10%;
}

/*Projects*/
.projects{
	width:100%;
	background: gray;
	justify-content: center;
	display: flex;
	align-items: center;
   flex-direction: column;
 }

/*contact*/
form{
	justify-content: center;
	display: grid;
	align-items: center;
	text-align:center;

}
 
 .contact-form{
 	padding: 10px;
 	width: 100%;
 }


/* Animations*/
img{
	transition: transform .3s ease;
}
img:hover{
	transform: scale(1.1);
}
.ctn:hover{ 
background:white;
color:darkblue;
box-shadow:2px 2px 5px gray;

 }

 li:hover{
 	color: skyblue;
 	cursor: pointer;
 }
}