/*Google Fonts*/
@import url(https://fonts.googleapis.com/css2)

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}


body , html{
	
	margin: 0 auto;
	text-align:center;
	justify-content:center;
	scroll-behavior: ;
	font-family:cartena ;
	display: block;
	//isolation: isolate;
    position: relative;
    width: 100vw;
    height: 100vh;
	margin: 10px auto;
	background: radial-gradient(circle, whitesmoke);
	background-blend-mode: lighten;
	
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}


/*navbar*/
.navbar {
	width: 100wmin;
	display: flex;
   background-color: #8D6843;
   opacity: 0.6;
   justify-content: space-between;
  
 }
 .navbar .active{
 	color: black !important;
 	font-weight: bold;
	font-size: 25px;
	color: black;
	
 }

.nav-links{
	display: flex;
	justify-content: space-between;
	align-items: left;
	font-size: 20px;
	color: white; !important;
	z-index:999;

}

.nav-links div{
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	color: whitesmoke; !important;
	z-index:999;
	
}

.navbar a {
	text-decoration: none;
	padding: 10px;
	color: whitesmoke;

}
.navbar a:hover{
	color: #111;
	cursor: pointer;
	scale: 1.5;

}
.header-content {
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/bg.jpg");
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	place-items: center;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	color: whitesmoke;
	
}

.fa-brands{
	font-size: 2vmin;
	color: whitesmoke;
	display: flex;
	align-items: right;
}

 h1{
	text-align: center;
  font-size: 7vmin;
  color: white;
  padding-top: 300px;
  transform: translate(-50% -50%);
  font-weight: bold;
}

.ctn:hover{
	background-color: whitesmoke;
}

.menu-btn{
	position: absolute;
	top: 30px;
	width: 40px;
	cursor: pointer;
	display: none;
}

.scroll{
    display: flex;
    align-items: center;
    font-weight: 600;
	font-family: monospace;
	font-size: 4vmin;
	
} 
.scroll a{
	text-decoration: none;
	color: whitesmoke;
}
.scrolling-words{ 
    height:3rem;
    margin: auto;
    overflow: hidden;
}
  .scrolling-words ul{
	margin: 0 0.625rem;
    padding: 0;
    animation: scrollUp 4s infinite;
}
  .scrolling-words li{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
    list-style: none;
}

//variables
$item-count:4;

@-webkit-keyframes scrollUp {
    @for $i from 1 through ($item-count - 1)
    {
        #{($i*25) - 10%}, #{$i * 25%} {
            transform:translateY((-100% / $item-count)* $i);
        }
    }
}

h2{
	font-size: 50px;
	text-decoration: double underline;
}
h3{
	font-size: 40px;
}

i {
	font-size: 50px;
}


.profile{
	width: 500px;
	height: 600px;
}
/*About*/
.about{
	width: 80%;
	margin: 80px auto;
}
.about {
	text-align: center;
	font-size: 4vmin;
	color: black;
}

.about h2{
	color:#4D2B08 ;
}
 
 .about p{
 	color: black;
 	padding: 0px;
 	font-family: ;
 	font-size: 3vmin;
 	display: flex;

 }
 
 .card{
 	background-color: #4D2B08;
 	border-color: gray;
 	display: flex;
 	align-items: center;
 	height: 60vmin;
 	opacity: 1;
 	text-decoration-color: black;

 }

 .about a{
 	color:#F8DCBF ;
 	background-color: #4D2B08;
 	padding: 10px;
 	text-decoration:none ;
 	display: inline-block;
 }

/*services and projects*/
 .section-3{
 	background-color: #8D6843;
 	padding-bottom: 50px;
    color: black;
	text align:center;
	justify-content: center;
	display: flex;
	align-items: center;
   flex-direction: column;
   justify-content: space-between;
 }
 .section-3 h1{
 	color: #4D2B08;
 	font-size: 7vmin;
 	text-align: center;
 	text-decoration: double underline;
 }

 .section-3 h2{
 	color: #4D2B08;
 }

 .section-3 p{
 	color: black;
 	font-size: 20px;
 	align-text: left;
 }
 .section-3 img{
 	width: 350px;
 	height: 250px;
 	border-radius: 1%;
 	

 }
 .section-3 img:hover{
 	transform: scale(1.1);
 }


img:hover{
	transition: transform .3s ease;
	transform: scale(1.1);

 }
/* resume */
.resume{
	align-items:center;
	text-align:center;

}

.resume li{
	font color: black;

	
}


.resume p{
	font-size: 15px;
	color: black;
}
.resume h2{
	color: #4D2B08;
}
ul.timeline{
	list-style-type: circle;
	position: relative;
	padding-left: 1.5rem;
	overflow-x: hidden;
}


h6{
	color: black;
}


/* contact */
 .contact{
 	display: flex;
 	justify-content: center;
 	margin: 0 auto;
 	width: 80%;
 	background-color:#8D6843;
 	backdrop-filter: shadow;
 	opacity: 0.2;
 	border-radius: 1%;
 
 }
 .contact{
 	width: 70%;
 	display: flex;
 	margin: 0 auto;
 	
 }
 .contact input{
 	border-width:50% ;
 	content-visibility: auto;
 	background-color:whitesmoke;
 	color: black;
 }
#contact-message{
 	width: 150wmin;
 }
 .contact .ctn{
 	width: 50%;
 	background-color: #4D2B08;
 }

 /*.footer{
 	background-color: gray;
 	height: 30px;
 	position: bottom;
 margin-bottom: 0px;
 }*/


/*Mobile device*/
@media only screen and (max-width:826px){
	body{
		display: block;
		justify-content: center;
	align-items: center;
	text-align:center;
	}

.menu-btn{
	display: flex;
	font-size: 9vmin;
	color: whitesmoke;
	background-color: gray;
	width: 15vmin;
	justify-content: space-around;

}

.profile{
	max-width: 500px;
	max-height: 500px;
	border-radius: 50%;
	padding-top: 20px;
	
}

.nav-links{
	flex-direction: column;
	width: 200vh;
	justify-content: center;
	background: gray;
	margin-top: -900px;
	transition: all 0.5s ease;
}
.mobile-menu{
	margin-top: 0px;
	border-bottom-right-radius: 40%;
}
.nav-links li{
	margin: 30px auto;
	color: whitesmoke;
   
}
/*About*/
.about{
	text-align: center;
}
/*services*/
.section-3{
	justify-content: center;
	display: block;
	align-items: center;
   flex-direction: column;
}
.section-3 img{
	width: 400px;
	border-radius: 1%;
}
img:hover{
	transition: transform .3s ease;
	transform: scale(1.1);

}

/*projects and services*/
.card{
	height: 100vmin;
}

/*contact*/
.contact{
	justify-content: center;
	display: grid;
	align-items: center;
	text-align:center;
	padding: 20% auto;
 	width: 80%;

}
 
 .contact-form{
 	padding: 0px;
 	width: 100%;
 }


/* Animations*/
img{
	transition: transform .3s ease;
}
img:hover{
	transform: scale(1.1);
}
.ctn:hover{ 
box-shadow:2px 2px 5px gray;

 }

 li:hover{
 	cursor: pointer;
 }
}


#F8DCBF
#4D2B08
#8D6843